# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
.DS_Store

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

bin/md
bin/next_md
bin/current_md
log/*
!log/.gitkeep
player/c/Chaos

areas/adjusted.txt
areas/boot.txt
areas/bounty.txt
areas/bounty.tmp
areas/bugs.txt
areas/config.tmp
areas/copyover.dat
areas/gamebugs.txt
areas/ideas.txt
areas/notes.txt
areas/shutdown.txt
areas/siteban.tmp
areas/swear.txt
areas/typos.txt
areas/usage.txt
areas/usage.tmp
areas/victory.txt
areas/victory.tmp
